<!DOCTYPE html>
<!-- I pledge my honor that I have abided by the Stevens Honor System.
       - Brian Silverman
       - Nathaniel Blakely
       - Michael Watson -->
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Log in</title>
		<link rel="stylesheet" type="text/css" href="/static/common.css">
		<link rel="stylesheet" type="text/css" href="/static/login.css">
	</head>
	<body>
		{{> navigation }}
		<main>
		{{#error}}
		<section class=error>
			{{.}}
		</section>
		{{/error}}
		<section>
			<form method=post action=login>
				<p><label>Username <input type=text name=username></label></p><br>
				<p><label>Password <input type=password name=password></label></p><br>
				<input id='login' type=submit value='Log in'>
				
				<section>If you don't already have one, please
					<a href=create>create an account</a>.
				</section>
			</form>
		</section>
		
		</main>
		<script src=/static/tota11y.min.js></script>
	</body>
</html>
