<!DOCTYPE html>
<!-- I pledge my honor that I have abided by the Stevens Honor System.
       - Brian Silverman
       - Nathaniel Blakely
       - Michael Watson -->
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Log in</title>
	</head>
	<body>
		<header>
			<h1>Log in</h1>
		</header>
		<main>
		{{#error}}
		<section class=error>
			{{.}}
		</section>
		{{/error}}
		<section>
			<form method=post action=login>
				<label>Username <input type=text name=username></label>
				<label>Password <input type=password name=password></label>
				<input type=submit value='Log in'>
			</form>
		</section>
		<section>
			If you don't already have one, please
			<a href=create>create an account</a>.
		</section>
		</main>
	</body>
</html>
