<!DOCTYPE html>
<!-- I pledge my honor that I have abided by the Stevens Honor System.
       - Brian Silverman
       - Nathaniel Blakely
       - Michael Watson -->
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Log in</title>
		<link rel="stylesheet" type="text/css" href="/static/login.css">
	</head>
	<body>
		
		<header>
			<h1>Log in</h1>
		</header>
		<main>
		<nav>
			<table>
				<tr>
					<td><a href="/">Home</a></td>
					<td><a href="/search">Search</a></td>
					<td><a href="/view">View</a></td>
					<td>{{#login}}{{.}}{{/login}}{{^login}}<a href="/account/login">Log In</a>{{/login}}</td>
				</tr>
			</table>
		</nav>
		{{#error}}
		<section class=error>
			{{.}}
		</section>
		{{/error}}
		<section>
			<form method=post action=login>
				{{> navigation }}
				<p><label>Username</label><input type=text name=username></p><br>
				<p><label>Password</label><input type=password name=password></p><br>
				<input id='login' type=submit value='Log in'>
				
				<section>If you don't already have one, please
					<a href=create>create an account</a>.
				</section>
			</form>
		</section>
		
		</main>
		<script src=/static/tota11y.min.js></script>
	</body>
</html>
