<!DOCTYPE html>
<!-- I pledge my honor that I have abided by the Stevens Honor System.
       - Brian Silverman
       - Nathaniel Blakely
       - Michael Watson -->
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Search</title>
		<link rel="stylesheet" type="text/css" href="/static/search.css">
	</head>
	<body>
		<header>
			<h1>Find a document</h1>
		</header>
		<script>
			function handle_favorite(id){
				var xmlhttp = new XMLHttpRequest();
                xmlhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                     
                    }};
                xmlhttp.open("GET", "/update_favorite?document_id="+id, true);
                xmlhttp.send();
			}
		</script>
		<main>
			<nav>
			<table>
				<tr>
					<td><a href="/">Home</a></td>
					<td><a href="/search">Search</a></td>
					<td><a href="/view">View</a></td>
					<td>{{#login}}{{.}}{{/login}}{{^login}}<a href="/account/login">Log In</a>{{/login}}</td>
				</tr>
			</table>
		</nav>
		{{#error}}
		<section class='error'>
			{{.}}
		</section>
		{{/error}}
		<section class='search'>
			<form method='POST' action='search'>
				<label>Part Number</label>&nbsp;<input type='text' name='part_no' required='required'>&nbsp;
				<label>Document Type</label>&nbsp;<input type='text' name='doc_type'>&nbsp;
				<input type='submit' value='Search'>
			</form>
		</section>
		
		<section class='results'>
			{{#results}}{{.}}{{/results}}
		</section>
		
		</main>
	</body>
</html>
