<!DOCTYPE html>
<!-- I pledge my honor that I have abided by the Stevens Honor System.
       - Brian Silverman
       - Nathaniel Blakely
       - Michael Watson -->
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{user.name}}'s favorites</title>
		<link rel="stylesheet" type="text/css" href="/static/common.css">
		<link rel="stylesheet" type="text/css" href="/static/search.css">
		<script src=/static/favorites.js></script>
	</head>
	<body>
		{{> navigation }}
		<header>
			<h1>{{user.name}}'s favorites</h1>
		</header>
		<main>
		
		<section class='results'>
		{{#results}}
		<div class=result>
			{{#user}}
			<button onclick="handle_favorite('{{_id}}', this)" class='{{classes}}'></button>
			{{/user}}
			<a href='/document/view/{{_id}}'>{{manufacturer}} {{documentType}}</a>
		</div>
		{{/results}}
		{{^results}}
		You have no favorites.
		{{/results}}
		</section>
		
		<script src=/static/tota11y.min.js></script>
		</main>
	</body>
</html>
