nav{
	text-align: center;
	margin-bottom: 20px;
	padding-left: 5%;
}

nav ul li {
	display: table-cell;
}
nav ul{
	margin: 0;
	padding: 0;
	width: 100%;
	display: table;
}
nav ul a{
	color:black;
	text-decoration:none;
	font-size:20px;
}
nav ul a:hover{
	color:blue;
}

button.favorite {
	background: url(/static/star.jpg) no-repeat;
	width: 5em;
	height: 5em;
	background-size: contain;
	background-position: center;
}

button.favorite.selected {
	filter: invert(100%);
}

.results{
	border:1px solid #222;
	width:90%;
	height:700px;
	overflow-y: scroll;
	margin: 10px auto;
	border-radius:2px;
}
