*{
	margin:0;
	padding:0;
}
h1{
	text-align: center;
}

main{
	width:80%;
	border:1px solid black;
	margin:auto;
	min-height:800px;
	border-radius:10px;
}

form{
	width:500px;
	height:220px;
	margin:auto;
	position:absolute;
	top:0;bottom:0;right:0;left:0;
	border:1px solid black;
	border-radius:5px;
	text-align:right;
}
form section{
	text-align:center;
	position:absolute;
	bottom:5px;
	margin-left:20px;
}
form label{

}
form input{
	margin-left:6px;
}
form p{
	text-align:right;
	width:350px;
	display:block;
	margin:10px auto;
}
section.info{
	margin:0;
	position:static;
}

#go{
	margin:0 0 0 0;
	padding:3px 5px 3px 5px;
	display:block;
	margin:auto;
}

#go:hover{
	cursor:pointer;
}