/* I pledge my honor that I have abided by the Stevens Honor System.
*    - Brian Silverman
*    - Nathaniel Blakely
*    - Michael Watson
* 
*  CS-546 Final Project */

*{
	margin:0;
	padding:0;
}
h1{
	text-align: center;
}

main{
	width:80%;
	border:1px solid black;
	margin:auto;
	min-height:800px;
	border-radius:10px;
}