*{
	margin:0;
	padding:0;
}
h1{
	text-align: center;
}

main{
	width:80%;
	border:1px solid black;
	margin:auto;
	min-height:800px;
	border-radius:10px;
}

section.search{

}

form{
	text-align:center;
}

section.results{
	border:1px solid #222;
	width:90%;
	height:700px;
	overflow-y: scroll;
	margin: 10px auto;
	border-radius:2px;
}